<% if defined?(@messages) %>
  <% @messages.each do |message| %>
    <div id="message-<%= message.id %>" class="<%= message.user == current_user ? 'sender' : 'receipt' %>">
      <p><%= message.description %></p>
      <small>
        <%= message.created_at.strftime("%b %d, %H:%M") %>
      </small>
    </div>
  <% end %>
<% elsif defined?(message) %>
  <div id="message-<%= message.id %>" class="<%= message.user == current_user ? 'sender' : 'receipt' %>">
    <p><%= message.description %></p>
    <small>
      <%= message.created_at.strftime("%b %d, %H:%M") %>
    </small>
  </div>
<% end %>
