<% if bike.present? %>
  <div class="bike-card">
    <div class="card shadow-1-strong">
      <% if bike.photos.attached? %>
        <%= cl_image_tag bike.photos.first.key, class: "card-img" %>
      <% else %>
        <%= image_tag "bike_garage.jpg", class: 'card-img' %>
      <% end %>
      <div class="card-body text-white">
        <h5 class="text-center mt-3"><%= bike.year %> <%= bike.brand %> <%= bike.name %></h5>
      </div>
    </div>
  </div>
<% end %>
