<div class="feed-card border">
  <div class="d-flex">
    <%= link_to user_path(item.user) do %>
      <% if item.user.avatar.present? %>
        <div class="me-2">
          <%= image_tag item.user.avatar, class: "avatar" %>
        </div>
      <% else %>
        <div class="me-2">
          <%= image_tag "user-photo.png", class: "avatar" %>
        </div>
      <% end %>
    <% end %>
    <div>
      <p class="mb-0">
        <strong><%= link_to user_path(item.user) do %>@<%= item.user.username %><% end %></strong>
        <%= action_text %>
        <span><%= link_to item_link do %><%= item_title %><% end %></span>
      </p>
      <small class="mb-0"><%= item.created_at.strftime("%B %d, %Y") %></small>
    </div>
  </div>
</div>
