<div class="border photo-item">
  <%= link_to route_path(route) do %>
    <div class="photo-container">
      <%= image_tag(photo, alt: "Photo from #{route.title} by #{route.user.first_name}", class: "photo") %>
    </div>
  <% end %>
  <div class="d-flex mt-2">
    <div class="user-avatar me-2">
      <%= link_to user_path(route.user) do %>
        <% if route.user.avatar.present? %>
          <div class="p-2"><%= cl_image_tag route.user.avatar.key, class: "avatar" %></div>
        <% else %>
          <div class="p-2"><%= image_tag "user-photo.png", class: "avatar" %></div>
        <% end %>
      <% end %>
    </div>
    <div>
      <p>Posted by <%= link_to route.user.first_name, user_path(route.user) %> on <%= link_to route.title, route_path(route) %></p>
    </div>
    <small><%= photo.created_at.strftime("%B %d, %Y") %></small>
  </div>
</div>