<div class="route-card m-2">
  <%= link_to route_path(route) do %>
    <% if route.photos.any? %>
      <%= cl_image_tag route.photos.first.image.key, class: "card-img" %>
    <% else %>
      <%= image_tag('route-bg.jpg', class: "card-img") %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="d-flex justify-content-between">
          <div class="">
            <h5 class="card-title"><%= route.title %></h5>
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-location-dot"></i>
              <p class='ms-2 pb-0 mb-0'><%= route.prefecture %></p>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <% if route.reviews.present? %>
              <i class="fa-solid fa-star"></i>
              <h4 class="ms-2 mb-0 pb-0"><%= route.average_rating %></h4>
            <% else %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          </div>
        </div>
        <div class="mt-2">
          <% route.ride_type.each do |type| %>
            <%= link_to routes_path(query: {ride_type: type }) do %>
              <span class="tag-card"><%= type %></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to user_path(route.user) do %>
    <small>Created by <%= route.user.username %></small>
  <% end %>
  <% if current_user == route.user %>
    <%= link_to edit_route_path(route), class: "btn btn-link" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  <% end %>
</div>
