<div class="weather-container d-flex mb-4 me-3">
  <div class="weather col-4 mb-4 me-2 py-2">
    <h6 class="ms-2">Currently:</h6>
    <div class="justify-content-center">
      <h3 class="text-center text-light pt-1 mb-0"><%= @current_weather["main"]["temp"].to_i %>°C</h3>
    </div>
    <div class="card-body">
      <img src="http://openweathermap.org/img/wn/<%= @current_weather["weather"][0]["icon"] %>@2x.png">
      <h6 id="description"><%= @current_weather["weather"][0]["description"] %></h6>
    </div>
  </div>
  <div class="weather col-4 mb-4 me-2 py-2">
    <h6 class="ms-2"> <%= Date.tomorrow.strftime("%A") %> </h6>
    <div class="justify-content-center">
      <h3 class="text-center text-light pt-1 mb-0"><%= @forecast["list"].slice(5)["main"]["temp"].to_i %>°C</h3>
    </div>
    <div class="card-body">
      <img src="http://openweathermap.org/img/wn/<%= @forecast["list"].slice(5)["weather"][0]["icon"] %>@2x.png">
      <h6 id="description"><%= @forecast["list"].slice(6)["weather"][0]["description"]  %></h6>
    </div>
  </div>
  <div class="weather col-4 mb-4 me-2 py-2">
    <h6 class="ms-2"><%= Date.tomorrow.tomorrow.strftime("%A") %></h6>
    <div class="justify-content-center">
      <h3 class="text-center text-light pt-1 mb-0"><%= @forecast["list"].slice(13)["main"]["temp"].to_i %>°C</h3>
    </div>
    <div class="card-body">
      <img src="http://openweathermap.org/img/wn/<%= @forecast["list"].slice(13)["weather"][0]["icon"] %>@2x.png">
      <h6 id="description"><%= @forecast["list"].slice(13)["weather"][0]["description"]  %></h6>
    </div>
  </div>
</div>
