<div class="comments-routes-show">
  <div data-controller="insert-route-comment">
    <div class="d-flex justify-content-between align-items-center" data-action="click->insert-route-comment#insertRouteComment">
      <h3>Route Comments:</h3>
      <button class="" data-insert-route-comment-target="insertCommentBtn"><i class="fa-solid fa-comment"></i></button>
    </div>
    <div class="my-2 toggle-form" data-insert-route-comment-target="commentForm">
      <%= render 'comments/form' %>
    </div>
  </div>
  <% @comments.limit(3).each do |comment| %>
    <div class="border p-3 my-2">
      <h5><%= comment.description %></h5>
      <div class="border-bottom"></div>
      <% if comment.user.avatar.present? %>
        <div class="d-flex mt-2">
          <div class="me-2">
            <%= cl_image_tag comment.user.avatar.key, class: "avatar" %>
          </div>
        <% else %>
          <div class="me-2">
            <%= image_tag "user-photo.png", class: "avatar" %>
          </div>
        <% end %>
        <div>
          <%= link_to user_path(comment.user) do %>
            <p class="mb-0"><%= comment.user.username %></p>
          <% end %>
          <p class="mb-0"><%= comment.created_at.strftime("%B %d, %Y") %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
