<div class="bg-red">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="d-flex justify-content-center align-items-center mb-4" data-controller="current-location">
            <i class="fa-solid fa-location-arrow me-2" data-action="click->current-location#searchByCurrentLocation"></i>
            <%= render 'components/search_bar' %>
          </div>
        </div>
      </div>
      <div class="px-3">
        <div class="last_routes mb-4">
          <div class="d-flex justify-content-between">
            <h3>Lastest Routes</h3>
            <%= link_to routes_path do %>
              <i class="fa-solid fa-circle-chevron-right"></i>
            <% end %>
          </div>
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <% @last_routes.each do |route| %>
              <div class="col-9 col-md-3 me-2">
                <%= render 'components/route_card', route: route %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="last_users">
          <div class="d-flex justify-content-between">
            <h3 class="mb-4">Last Users...</h3>
            <%= link_to users_path do %>
              <i class="fa-solid fa-circle-chevron-right"></i>
            <% end %>
          </div>
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <% @last_users.each do |user| %>
              <div class="col-6 col-md-4 me-2">
                <%= render 'users/user_card', user: user %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
