<div class="bg-red">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
  </div>
  <div class="bg-white chat-index">
    <div class="container">
      <h3>Messages</h3>
      <div class="mx-4 border-bottom pt-2 mb-4"></div>
      <% @chatroom_data.each do |data| %>
        <%= link_to chatroom_path(data[:chatroom]) do %>
          <div class="d-flex mb-4 chat">
            <div>
              <% if data[:chat_user].avatar.present? %>
                <%= image_tag data[:chat_user].avatar, class: "avatar-large" %>
              <% else %>
                <%= image_tag 'user-photo.png', class: "avatar-large" %>
              <% end %>
            </div>
            <div class="ms-3 w-100 messages">
              <% if data[:chat_user].present? %>
                <h5>@<%= data[:chat_user].username %></h5>
              <% else %>
                <h5>Unknown User</h5>
              <% end %>
              <div class="d-flex justify-content-between">
                <p class="mb-0 chat-msg-index"><%= truncate_words(data[:last_message].description, 3) %></p>
                <small class="mb-0 chat-date">
                  <%= data[:last_message].created_at.strftime("%b %d, %H:%M") %>
                </small>
              </div>
              <% if data[:unread_count] > 0 %>
                <span class="unread-count">
                  <%= data[:unread_count] > 99 ? '99+' : data[:unread_count] %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
