<div class="bg-red" >
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
  </div>
  <div class="bg-white chatroom-page">
    <div class="container">
      <div class="chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
        <!-- chat name -->
        <div class="d-flex align-items-center">
          <% recipient = @chatroom.recipient(current_user) %>
          <% if recipient.avatar.present? %>
            <%= image_tag recipient.avatar, class: "avatar" %>
          <% else %>
            <%= image_tag 'user-photo.png', class: "avatar" %>
          <% end %>
          <h3 class="mb-0 ms-3">@<%= recipient.username %></h3>
        </div>
        <div class="border-bottom mx-4 mt-3"></div>
        <!-- chat messages -->
        <div id="messages" class="messages" data-chatroom-subscription-target="messages">
          <%= turbo_stream_from @chatroom %>
          <%= render partial: "messages/message", locals: { messages: @messages, current_user: current_user } %>
        </div>
        <div class="chatroom-msg">
          <%= simple_form_for [@chatroom, @message],
              html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
            <%= f.input :description,
              label: false,
              wrapper_html: { class: "flex-grow-1 me-1" } %>
            <%= f.submit "Send", class: "btn-send mb-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
