<div class="bg-red user-profile">
  <% if user_signed_in? %>
    <div class="container mb-4">
      <%= render 'shared/logo_btn_top_white' %>
      <%= render 'shared/link_user_profile' %>
    </div>
    <div class="bg-white p-2">
      <div class="container mt-4">
        <div class="d-flex justify-content-between mb-4">
          <h3><strong><%= @user.first_name %>'s Garage:</strong></h3>
          <% if @user == current_user %>
            <%= link_to user_bikes_path(current_user) do %>
              <i class="fa-solid fa-pen-to-square me-2"></i>
            <% end %>
          <% end %>
        </div>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
          <% @bikes.each do |bike| %>
            <div class="col-8 col-md-4">
              <%= render 'components/bike_card', bike: bike %>
            </div>
          <% end %>
        </div>
        <div class="saved-routes mt-4 pt-4">
          <div class="d-flex justify-content-between">
            <h3><strong><%= @user.first_name %>'s routes:</strong></h3>
            <%= link_to created_routes_user_path(@user) do %>
              <i class="fa-solid fa-circle-chevron-right me-2"></i>
            <% end %>
          </div>
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <% @routes.each do |route| %>
              <div class="col-8 col-md-3 me-2">
                <%= render 'components/route_card', route: route %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="reviews mt-4 pt-4">
          <div class="d-flex justify-content-between">
            <h3><strong><%= @user.first_name %>'s reviews</strong></h3>
            <%= link_to '#' do %>
              <i class="fa-solid fa-circle-chevron-right me-2"></i>
            <% end %>
          </div>
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <% if @reviews.present? %>
              <% @reviews.each do |review| %>
                <%= render 'components/review_card', review: review %>
              <% end %>
            <% else %>
              <p><%= @user.first_name %> has not written any reviews yet.</p>
            <% end %>
          </div>
        </div>
        <div class="my-4 d-flex justify-content-center pb-4">
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-light-gray-sm" %>
        </div>
      <% else %>
        <div class="m-4">
          <%= link_to "Login", new_user_session_path %>
        </div>
        <div class="m-4">
          <%= link_to "Register", new_user_registration_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
