<div class="bg-red">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="bg-white">
    <div class="container">
      <% if @user == current_user %>
        <h3 class="text-center mb-4">Your reviews</h3>
      <% else %>
        <h3 class="text-center mb-4"><strong><%= @user.first_name %>'s reviews</strong></h3>
      <% end %>
      <div class="px-2">
        <% @reviews.each do |review| %>
          <%= link_to route_review_path(review.route, review) do %>
            <div class="mb-2">
              <%= render 'components/review_mini_card', review: review %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
