<div class="bg-red login-screen forgot">
  <div class="back-btn">
    <%= link_to (request.referrer || root_path) do %>
      <i class="fa-solid fa-circle-chevron-left"></i>
    <% end %>
  </div>
  <div class="">
    <div class="container">
      <%= image_tag 'logo.svg', class: "" %>
    </div>
    <div class="bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-11 col-md-8 login-screen">
            <h2 class="text-center mb-4">Forgot your password?</h2>
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <%= f.button :submit, "Reset password", class: "btn-red" %>
              </div>
            <% end %>
            <small>* A link with reset instructions will be send to your email</small>
            <div class="mt-4">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
