<div class="d-flex justify-content-between align-items-center user-top-profile">
  <div class="d-flex align-items-center">
    <% if current_user.avatar.present? %>
      <div class="p-2"><%= image_tag current_user.avatar, class: "avatar-bordered" %></div>
    <% else %>
      <div class="p-2"><%= cl_image_tag "user-photo_paaiho", class: "avatar-bordered" %></div>
    <% end %>
    <div>
      <h2 class="mb-0">Hello <strong><%= current_user.first_name %></strong>!</h2>
      <%= render 'shared/profile_link', user: current_user %>
    </div>
  </div>
  <div class="local-user"><button><i class="fa-solid fa-location-dot"></i> <%= current_user.prefecture %></button></div>
</div>
