<% user = local_assigns[:user] || current_user %>
<div class="d-flex justify-content-between align-items-start user-top-profile">
  <div class="d-flex align-items-center">
    <% if user&.avatar.present? %>
      <div class="m-2"><%= cl_image_tag user&.avatar.key, class: "avatar-bordered" %></div>
    <% else %>
      <div class="m-2"><%= image_tag "user-photo.png", class: "avatar-bordered" %></div>
    <% end %>
    <div class="ms-2">
      <% if user == current_user %>
        <h2 class="mb-0">Hello <strong><%= user.first_name %></strong>!</h2>
      <% else %>
        <div class="d-flex mb-2 align-items-center">
          <h2 class="mb-0"><strong>@<%= user.username %></strong></h2>
          <% existing_chatroom = Chatroom.find_by(user: current_user, recipient: user) || Chatroom.find_by(user: user, recipient: current_user) %>
          <% if existing_chatroom %>
            <%= link_to chatroom_path(existing_chatroom) do %>
              <i class="fa-solid fa-comment-dots ms-2"></i>
            <% end %>
          <% else %>
            <%= link_to new_chatroom_path(recipient_id: user.id) do %>
              <i class="fa-solid fa-comment-dots ms-2"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="d-flex">
        <p class="me-2 mb-0">
          <%= link_to followers_user_path(user) do %>
            <strong><%= user.followers.count %></strong> followers
          <% end %>
        </p>
        <p class="mb-0">
          <%= link_to following_user_path(user) do %>
            <strong><%= user.following.count %></strong> following
          <% end %>
        </p>
      </div>
      <div class="d-flex mt-2">
        <div class="local-user"><button><i class="fa-solid fa-location-dot"></i> <%= user&.prefecture %></button></div>
      </div>
    </div>
  </div>
  <div class="follower-icon-show-user">
    <% if user == current_user %>
      <%= render 'shared/profile_link', user: current_user %>
    <% else %>
      <% if current_user.following.include?(user) %>
        <%= button_to unfollow_user_path(user), method: :delete, remote: true do %>
          <i class="fa-solid fa-user-check"></i>
        <% end %>
      <% else %>
        <%= button_to follow_user_path(user), method: :post, remote: true do %>
          <i class="fa-solid fa-user-plus"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
