<div class="bg-home">
  <div class="container">
    <div class="d-flex justify-content-end p-4">
      <%= image_tag 'logo-white.svg', class:"logo-icon" %>
    </div>
    <% if user_signed_in? %>
      <div class="p-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <% if current_user.avatar.present? %>
              <div class="p-2"><%= image_tag current_user.avatar, class: "avatar-bordered" %></div>
            <% else %>
              <div class="p-2"><%= image_tag "user-photo.png", class: "avatar-bordered" %></div>
            <% end %>
            <div>
              <h2 class="mb-0">Hello <strong><%= current_user.first_name %></strong>!</h2>
              <%= link_to "See your profile", user_path(current_user), class:"card-button" %>
            </div>
          </div>
          <div class="local-user"><button><i class="fa-solid fa-location-dot"></i> <%= current_user.prefecture %></button></div>
        </div>
        <div class="discover-routes">
          <h3 class="mb-0 pb-0">Discover new routes</h3>
          <p class='pb-0'>Find the best route for you</p>
        </div>
      </div>
    </div>
    <div class="routes-home-page">
      <div class="container">
        <div class='pt-4'>
          <%= link_to routes_path do %>
            <div class="row d-flex justify-content-center">
              <div class="col-10">
                <%= render 'components/search_bar' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="d-flex justify-content-between mt-4 mx-2">
          <h3>Nearby</h3>
          <%= link_to routes_path  do %>
            <p>See all</p>
          <% end %>
        </div>
        <div class="home-page-route-cards">
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <% @routes.sort_by { |i| -i.created_at.to_i }.last(5).each do |route| %>
              <div class="col-8 col-md-3">
                <%= render 'components/route_card', route: route %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="my-4 pt-4">
          <h3 class="my-4">Search for...</h3>
          <div class="routes-tags">
            <div class="container">
              <div class="row justify-content-center">
                <% @ride_types.each do |type| %>
                  <div class="col-md-3 col-6 text-center mb-2">
                    <%= link_to routes_path(query: {ride_type: type }) do %>
                      <span class="route-tag rounded-pill"><%= type %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="m-4">
      <%= link_to "Login", new_user_session_path %>
    </div>
    <div class="m-4">
      <%= link_to "Register", new_user_registration_path %>
    </div>
  <% end %>
</div>
