<div class="home bg-red">
  <% if user_signed_in? %>
    <div class="container">
      <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
      <%= render 'shared/link_user_profile', user: (@user || current_user) %>
      <div class="discover-routes">
        <h3 class="m-0 p-0">Discover new routes</h3>
        <p class="pb-0">Find the best route for you</p>
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
        <div class="d-flex justify-content-between mx-2" data-controller="current-location">
          <div class="d-flex">
            <h3>Nearby</h3>
            <i class="fa-solid fa-location-arrow p-2" data-action="click->current-location#searchByCurrentLocation"></i>
          </div>
          <%= link_to routes_path  do %>
            <i class="fa-solid fa-circle-chevron-right"></i>
          <% end %>
        </div>
        <div class="home-page-route-cards">
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <% @routes.sort_by { |i| -i.created_at.to_i }.last(5).each do |route| %>
              <div class="col-9 col-md-3 me-2">
                <%= render 'components/route_card', route: route %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="my-4">
          <div class="d-flex justify-content-between mb-2">
            <h3>Discover</h3>
            <%= link_to users_path  do %>
              <i class="fa-solid fa-circle-chevron-right"></i>
            <% end %>
          </div>
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <% @users.each do |user| %>
              <div class="col-7 col-md-3 me-2">
                <%= render 'users/user_card', user: user %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="feed-photos pt-3">
          <h4>Last friends photos</h4>
          <% if current_user.following.any? %>
            <% if @routes_with_photos.any? %>
              <div class="row d-flex justify-content-center">
                <% @routes_with_photos.each do |route| %>
                  <% route.photos.each do |photo| %>
                    <div class="col-10 col-md-4">
                      <%= render 'components/photo_feed', route: route, photo: photo %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <p>No photos from users you follow.</p>
            <% end %>
          </div>
          <div class="friends-review mt-4">
            <h4>Last friends reviews</h4>
            <% if @reviews.any? %>
              <div class="row d-flex justify-content-center">
                <% @reviews.each do |review| %>
                  <div class="col-10 col-md-4 mb-2">
                    <%= link_to route_review_path(review.route_id, review.id) do %>
                      <%= render 'components/review_mini_card', review: review %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>No reviews from users you follow.</p>
            <% end %>
          </div>
          <div class="friends-routes mt-4">
            <h4>Last friends routes</h4>
            <% if @routes.any? %>
              <div class="row d-flex justify-content-center">
                <% @routes.last(3).each do |route| %>
                  <div class="col-10 col-md-4 mb-2">
                    <%= render 'components/route_card', route: route %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p>No routes from users you follow.</p>
            <% end %>
          </div>
          <div class="friends-bikes mt-4">
            <h4>Last friends bikes</h4>
            <% if @bikes.any? %>
              <div class="row d-flex justify-content-center">
                <% @bikes.each do |bike| %>
                  <div class="col-8 col-md-4 mb-2">
                    <%= render 'components/bike_card', bike: bike %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>You are not following anyone yet.</p>
        <% end %>
      </div>
    </div>
  <% else %>
    <!-- LOGIN PAGE -->
    <div class="container">
      <div class="d-flex justify-content-between py-4 logo-btn-top">
        <div class="d-flex justify-content-start back-btn">
          <%= link_to (request.referrer || root_path) do %>
            <i class="fa-solid fa-circle-chevron-left"></i>
          <% end %>
        </div>
        <%= image_tag 'logo-white.svg', class:"logo-icon" %>
      </div>
      <div class="d-flex justify-content-between align-items-start user-top-profile">
        <div class="d-flex align-items-center">
          <div class="p-2"><%= image_tag "user-photo.png", class: "avatar-bordered" %></div>
          <div>
            <h2 class="mb-0">Hello <strong>New User</strong>!</h2>
            <div class="d-flex mt-2">
              <p class="me-3 mb-0">
                <%= link_to "Login", new_user_session_path %>
              </p>
              <p class="mb-0">
                <%= link_to "Register", new_user_registration_path %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="m-4">
        <h3 class="text-center">Welcome to GremlinBell</h3>
        <p>If you already have an account, please login.</p>
        <%= link_to "Login", new_user_session_path %>
      </div>
      <div class="m-4">
        <p>If you don't have an account, please register.</p>
        <%= link_to "Register", new_user_registration_path %>
      </div>
    </div>
  <% end %>
</div>
