  <% if user_signed_in? %>
  <div class="home bg-red">
    <div class="container">
      <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
      <%= render 'shared/link_user_profile', user: (@user || current_user) %>
      <div class="discover-routes">
        <h3 class="m-0 p-0">Discover new routes</h3>
        <p class="pb-0">Find the best route for you</p>
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
        <div class="d-flex justify-content-center">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-feed-tab" data-bs-toggle="pill" data-bs-target="#pills-feed" type="button" role="tab" aria-controls="pills-feed" aria-selected="true"><i class="fa-solid fa-list"></i></button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-photos-tab" data-bs-toggle="pill" data-bs-target="#pills-photos" type="button" role="tab" aria-controls="pills-photos" aria-selected="false"><i class="fa-solid fa-camera"></i></button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-routes-tab" data-bs-toggle="pill" data-bs-target="#pills-routes" type="button" role="tab" aria-controls="pills-routes" aria-selected="false"><i class="fa-solid fa-map-location-dot"></i></button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill" data-bs-target="#pills-reviews" type="button" role="tab" aria-controls="pills-reviews" aria-selected="false"><i class="fa-solid fa-pen"></i></button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-bikes-tab" data-bs-toggle="pill" data-bs-target="#pills-bikes" type="button" role="tab" aria-controls="pills-bikes" aria-selected="false"><i class="fa-solid fa-motorcycle"></i></button>
            </li>
          </ul>
        </div>
        <!-- START TABS -->
        <div class="tab-content" id="pills-tabContent">
          <!-- FEED -->
          <div class="tab-pane fade show active" id="pills-feed" role="tabpanel" aria-labelledby="pills-feed-tab" tabindex="0">
            <div class="discover mt-4">
              <div class="d-flex justify-content-between mb-2">
                <h3>Find riders</h3>
                <%= link_to users_path  do %>
                  <i class="fa-solid fa-circle-chevron-right"></i>
                <% end %>
              </div>
              <div class="d-flex flex-row flex-nowrap overflow-auto">
                <% @users.each do |user| %>
                  <div class="col-6 col-md-3 me-2">
                    <%= render 'users/user_card', user: user %>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- ALL ITEMS -->
            <% if current_user.following.any? %>
              <div class="my-4">
                <h4>Latest updates:</h4>
                <div class="mt-4 row d-flex justify-content-center">
                  <% @feed_items.each do |item| %>
                    <% if item.is_a?(Route) %>
                      <div class="mb-2 col-md-8">
                        <%= render 'components/feed_card', item: item, action_text: "created the route", item_title: item.title, item_link: route_path(item) %>
                      </div>
                    <% elsif item.is_a?(Review) %>
                      <div class="mb-2 col-md-8">
                        <%= render 'components/feed_card', item: item, action_text: "posted a new review for", item_title: item.route.title, item_link: route_path(item.route) %>
                      </div>
                    <% elsif item.is_a?(Bike) %>
                      <div class="mb-2 col-md-8">
                        <%= render 'components/feed_img_card',
                            item: item,
                            user: item.user,
                            action_text: "added a new bike",
                            item_name: item.name,
                            item_path: user_bikes_path(item.user),
                            default_image: "bike_garage.jpg",
                            photo: nil %>
                      </div>
                    <% elsif item.is_a?(Comment) %>
                      <div class="mb-2 col-md-8">
                        <%= render 'components/feed_card', item: item, action_text: "commented on", item_title: item.route.title, item_link: route_path(item.route) %>
                      </div>
                    <% elsif item.is_a?(Hash) && item[:photo].is_a?(Photo) %>
                      <div class="mb-2 col-md-8">
                        <%= render 'components/feed_img_card',
                            item: item[:route],
                            user: item[:photo].user,
                            action_text: "posted a new photo in",
                            item_name: item[:route].title,
                            item_path: route_path(item[:route]),
                            default_image: "route_default.jpg",
                            photo: item[:photo] %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- PHOTOS -->
            <div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab" tabindex="0">
              <div class="feed-photos pt-3">

                <h4 class="mt-2">Your friends' recently added photos:</h4>

                <% if @routes_with_photos.any? %>
                  <div class="row d-flex justify-content-center mt-4">
                    <% @routes_with_photos.each do |item| %>
                      <div class="col-11 col-md-4 mb-3">
                        <%= render 'components/feed_img_card',
                            item: item[:route],
                            user: item[:user],
                            action_text: "posted a new photo in",
                            item_name: item[:route].title,
                            item_path: route_path(item[:route]),
                            default_image: "route_default.jpg",
                            photo: item[:photo] %>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <p>No photos from users you follow.</p>
                <% end %>
              </div>
            </div>
            <!-- ROUTES-->
            <div class="tab-pane fade" id="pills-routes" role="tabpanel" aria-labelledby="pills-routes-tab" tabindex="0">
              <div class="friends-routes mt-4">
                <h4>Your friends' recently added routes:</h4>
                <% if @routes.any? %>
                  <div class="row d-flex justify-content-center mt-4">
                    <% @routes.each do |route| %>
                      <div class="col-11 col-md-4 mb-2">
                        <%= render 'components/feed_card', item: route, action_text: "created the route", item_title: route.title, item_link: route_path(route) %>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <p>No routes from users you follow.</p>
                <% end %>
              </div>
            </div>
            <!-- REVIEWS -->
            <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab" tabindex="0">
              <div class="friends-review mt-4">
                <h4>Your friends' recently added reviews:</h4>
                <% if @reviews.any? %>
                  <div class="row d-flex justify-content-center mt-4">
                    <% @reviews.each do |review| %>
                      <div class="col-11 col-md-4 mb-2">
                        <%= link_to route_review_path(review.route_id, review.id) do %>
                          <%= render 'components/feed_card', item: review, action_text: "created a new review for", item_title: review.route.title, item_link: route_path(review.route) %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <p>No reviews from users you follow.</p>
                <% end %>
              </div>
              <div class="friends-comments mt-4">
                <h4>Your friends' recently added comments:</h4>
                <% if @comments.any? %>
                  <div class="row d-flex justify-content-center mt-4">
                    <% @comments.each do |comment| %>
                      <div class="col-11 col-md-4 mb-2">
                        <%= render 'components/feed_card', item: comment, action_text: "created a new coment in route", item_title: comment.route.title, item_link: route_path(comment.route) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- BIKES-->
            <div class="tab-pane fade" id="pills-bikes" role="tabpanel" aria-labelledby="pills-bikes-tab" tabindex="0">
              <div class="friends-bikes mt-4">

                <h4 class="mb-4">Your friends' recently added bikes:</h4>

                <% if @bikes.any? %>
                  <div class="row d-flex justify-content-center mt-4">
                    <% @bikes.each do |bike| %>
                      <div class="col-11 col-md-4 mb-3">
                        <%= render 'components/feed_img_card',
                            item: bike,
                            user: bike.user,
                            action_text: "added a new bike",
                            item_name: bike.name,
                            item_path: user_bikes_path(bike.user),
                            default_image: "bike_garage.jpg",
                            photo: nil %> <!-- for bikes photo is nil because bikes dont use model Photo -->
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <!-- END TABS -->
        <% else %>
          <div class="my-4 d-flex justify-content-center text-bold">
            <p>You are not following anyone yet.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <!-- LOGIN PAGE -->
  <%= render 'login_screen' %>
<% end %>
