<div class="bg-red">
  <div class="container">
    <%= render 'shared/logo_btn_top_white' %>
    <%= render 'shared/link_user_profile' %>
  </div>
  <div class="bg-white mt-4">
    <div class="container p-4">
      <div class="d-flex justify-content-between mt-4">
        <h3><strong><%= current_user.first_name %></strong>'s Bikes</h3>
        <%= link_to new_user_bike_path do %>
          <i class="fa-solid fa-circle-plus me-2"></i>
        <% end %>
      </div>
      <div class="mt-4 d-flex row justify-content-center">
        <% @bikes.each do |bike| %>
          <div class="col-9 col-md-4">
            <%= render 'components/bike_card',  bike: bike  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>