<div class="bg-red">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="bg-white">
    <div class="container px-2">
      <% if @user == current_user %>
        <div class="d-flex justify-content-between">
          <h3 class="ms-2">My Bikes</h3>
          <%= link_to new_user_bike_path do %>
            <i class="fa-solid fa-circle-plus me-2"></i>
          <% end %>
        </div>
      <% else %>
        <h3 class="text-center"><strong><%= @user.first_name %></strong>'s Bikes</h3>
      <% end %>
      <div class="mt-4 d-flex row justify-content-center">
        <% @bikes.each do |bike| %>
          <div class="col-9 col-md-4 m-2">
            <%= render 'components/bike_card',  bike: bike  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
