<div class="post-card border">
  <div class="d-flex">
    <div class="me-2">
      <%= link_to user_path(post.user) do %>
        <% if post.user&.avatar.present? %>
          <%= cl_image_tag post.user.avatar.key, class: "avatar" %>
        <% else %>
          <%= image_tag "user-photo.png", class: "avatar" %>
        <% end %>
      </div>
      <div class="flex-grow-1">
        <div class="d-flex justify-content-between">
          <p><strong><%= post.user.username %></strong></p>
        <% end %>
        <small><%= post.created_at.strftime("%B %d") %></small>
      </div>
      <div>
        <p><%= raw post.content %></p>
        <% if post.images.any? %>
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <% post.images.each do |image| %>
              <div class="col-8 col-md-4 me-2">
                <%= cl_image_tag image.key, class: "post-image" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if post.tags.any? %>
          <% post.tags.each do |tag| %>
            <%= link_to search_posts_path(tag: tag), class: "hashtag" do %>
              <span class="tag-post">#<%= tag %></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex mt-2 icons">
        <% if current_user.favorited?(post) %>
          <div class="d-flex align-items-center me-4">
            <%= button_to unlike_post_path(post), method: :delete do %>
              <i class="fa-solid fa-heart me-2"></i>
            <% end %>
            <p><%= post.likes_count %></p>
          </div>
        <% else %>
          <div class="d-flex align-items-center me-4">
            <%= button_to like_post_path(post) do %>
              <i class="fa-regular fa-heart"></i>
            <% end %>
            <p><%= post.likes_count %></p>
          </div>
        <% end %>
        <i class="fa-regular fa-comment"></i>
      </div>
    </div>
  </div>
</div>
