<div class="form-new-review px-3">
  <%= simple_form_for(@route) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.label :waypoints, "Waypoints" %>

    <%= f.hidden_field :waypoints, id: 'waypoints_input', multiple: true %>
    <%= render 'shared/map'%>
    <%#= f.text_area :waypoints, value: @route.waypoints.join(', '), class: "form-control mb-3" %>
    <div class="mt-4">
      <%= f.input :videos_url, label: "Youtube Link"%>
    </div>
      <div class="col-12 mb-2">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="mb-2 mb-md-0">
        <%= f.label :photos, "Upload Photos", class: 'form-label' %>
      </div>
      <div class="form-text">
        <strong>Note:</strong> Maximum file size is 10MB per photo.
      </div>
    </div>
    <%= f.file_field :photos, multiple: true, accept: 'image/*', class: 'form-control' %>
  </div>
    <div class="row mt-6 col-12">
      <%= render 'shared/road_condition_form', f: f %>
    </div>
    <div class="row mt-6">
    </div>
    <div class="row mt-6">
      <div class="ride-type-item">
        <%= f.input :ride_type,
                    as: :check_boxes,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'ride-type-wrapper',
                    item_wrapper_class: 'ride-type-item',
                    input_html: {class: 'ride-type-selector'},
                    collection: Route::RIDE_TYPE %>
      </div>
    </div>
</div>
    <div class="d-flex justify-content-center mt-3 pb-3">
      <%= f.submit "Create a route", class: "btn-red  " %>
    </div>
  <% end %>
</div>
