<div class="container mt-4">
  <div class="index-routes">
    <div class="d-flex justify-content-between mb-4">
      <div class="d-flex justify-content-start back-btn">
        <%= link_to (request.referrer || rooth_path) do %>
          <i class="fa-solid fa-circle-chevron-left"></i>
        <% end %>
      </div>
      <%= image_tag 'logo-red.svg', class:"logo-icon" %>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-10 d-flex">
        <div class="col-11">
          <%= link_to routes_path do %>
            <%= render 'components/search_bar' %>
          <% end %>
        </div>
        <div class="col ms-2 d-flex align-items-center justify-content-center">
          <%= link_to '#' do %>
            <i class="fa-solid fa-bars"></i>
          <% end %>
        </div>
      </div>
    </div>
    <h1 class="mt-4">Routes</h1>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <% @routes.each do |route| %>
          <div class="col-12 col-md-3 mb-4 d-flex justify-content-center">
            <%= render 'components/route_card', route: route %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>