<div class="bg-red">
  <div class="container pt-2">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="index-routes bg-white">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-10 pb-4">
          <%= render 'components/search_bar' %>
        </div>
        <div class="px-2 headers-gray">
          <div class="text-center" data-controller="route-search">
            <div class="row">
              <div class="ride-types drop-down-search" data-route-search-target="searchBars">
                <% @ride_types.each_with_index do |type, index| %>
                  <% if index.even? %>
                    <div class="col-md-6 px-2 col-12 mb-2">
                      <div class="d-flex justify-content-between">
                      <% end %>
                      <div class="col-md-3 col-6 px-2 text-center mb-2">
                        <% if params[:query].present? && params[:query][:prefecture].present? %>
                          <% current_prefecture = params[:query][:prefecture] %>
                          <% current_ride_type = type %>
                          <%= link_to routes_path(query: {prefecture: current_prefecture, ride_type: current_ride_type }) do %>
                            <span class="route-tag rounded-pill"><%= type %></span>
                          <% end %>
                        <% else %>
                          <%= link_to routes_path(query: {ride_type: type }) do %>
                            <span class="route-tag rounded-pill"><%= type %></span>
                          <% end %>
                        <% end %>
                      </div>
                      <% if index.odd? %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <i class="fa fa-caret-down fa-2xl" aria-hidden="true" class="btn-light-gray"
              data-route-search-target="rideTypeSearchButton"
              data-action="click->route-search#expandRideTypes">
              </i>
            </div>
          </div>
          <% if @routes.any? %>
            <% if params[:query].present? && params[:query][:prefecture].present? && params[:query][:ride_type].present? %>
              <h3 class="mt-4 text-center">Popular <strong style="color: #960808"><%= params[:query][:ride_type] %></strong> routes in <strong style="color: #960808"><%= params[:query][:prefecture] %></strong></h3>
              <%= render 'components/popular_route' %>
            <% elsif params[:query].present? && params[:query][:ride_type].present? %>
              <h3 class="mt-4 text-center">Popular <strong style="color: #960808"><%= params[:query][:ride_type] %></strong> routes</h3>
              <%= render 'components/popular_route' %>
            <% elsif params[:query].present? && params[:query][:prefecture].present?%>
              <h3 class="mt-4 text-center">Popular routes in <strong style="color: #960808"><%= params[:query][:prefecture] %></strong></h3>
              <%= render 'components/popular_route' %>
            <% else %>
              <h3 class="mt-4 text-center">Popular routes</h3>
              <%= render 'components/popular_route' %>
            <% end %>
            <div class="row d-flex justify-content-center">
              <% @routes.each do |route| %>
                <div class="col-11 col-md-4">
                  <%= render 'components/route_card', route: route %>
                </div>
              <% end %>
            </div>
          <% else %>
            <% if params[:query].present? && params[:query][:ride_type].present? %>
              <p class="text-center mt-4">No routes found for this ride type:<br>
                <strong style="color: #960808"><%= params[:query][:ride_type] %></strong></p>
            <% elsif params[:query].present? && params[:query][:prefecture].present?%>
              <p class="text-center mt-4">No routes found for:<br>
                <strong style="color: #960808"><%= params[:query][:prefecture] %></strong></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
