<div class="bg-red">
  <div class="container mb-4">
    <%= render 'shared/logo_btn_top_white' %>
    <%= render 'shared/link_user_profile' %>
  </div>
  <div class="bg-white">
    <div class="container p-4">
      <h1 class="text-center">Create New Route</h1>
      <%= simple_form_for(@route) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.label :waypoints, "Waypoints" %>
        <%= f.hidden_field :waypoints, id: 'waypoints_input' %>
        <%#= render 'shared/map' %>
        <%#= f.text_area :waypoints, value: @route.waypoints.join(', '), class: "form-control mb-3" %>
        <%= f.input :videos_url, label: "Youtube Link"%>
        <%= f.label :ride_type %>
        <%= f.select :ride_type, ["Mountainous", "Trail", "Urban", "Scenic", "Calm", "Coastal", "Twisty", "Day Trip", "Long and Straight", "Other"], {}, class: "form-control" %>
        <div class="d-flex justify-content-center">
          <%= f.submit "Create", class: "btn-red mt-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>