<div class="container mt-4">
  <div class="banner-show-route">
    <h1><%= @route.title %></h1>
    <h4><%= @route.description %></h4>
    <div class="border-bottom"></div>
    <% if @route.videos_url.present? %>
      <div class="mt-4">
        <h5>Route video:</h5>
        <%= link_to @route.videos_url, target: "_blank" do %>
          <div class="d-flex align-items-center">
            <i class="fas fa-play-circle me-2"></i>Play Video
            <%# <iframe width="560" height="315" src="<%= @route.videos_url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> %>
            <%# This is for imbedding the video, but the link needs to be an embed link not a watch link %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @route.ride_type.present? %>
      <div class="my-4">
        <h5>Tags:</h5>
        <div class="d-flex">
          <div class="badge bg-primary me-2"><%= @route.ride_type %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
