<div class="container mt-4">
  <div class="banner-show-route">
    <h1><%= @route.title %></h1>
    <h4><%= @route.description %></h4>
    <div class="border-bottom"></div>
    <% if @route.videos_url.present? %>
      <div class="mt-4">
        <h5>Route video:</h5>
        <%= link_to @route.videos_url, target: "_blank" do %>
          <div class="d-flex align-items-center">
            <i class="fas fa-play-circle me-2"></i>Play Video
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @route.ride_type.present? %>
      <div class="my-4">
        <h5>Tags:</h5>
        <div class="d-flex">
          <% if @route.ride_type.is_a?(Array) %>
            <% @route.ride_type.each do |type| %>
              <div class="badge bg-primary me-2"><%= type %></div>
            <% end %>
          <% else %>
            <div class="badge bg-primary me-2"><%= @route.ride_type %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @route.reviews.any? %>
      <% @reviews.each do |review| %>
        <div class="mt-4">
          <h5><%= review.title %></h5>
          <p><%= review.content %></p>
          <div class="d-flex align-items-center">
            <% if review.user.avatar.present? %>
              <div class="me-2">
                <%= image_tag review.user.avatar, class: "avatar" %>
              </div>
            <% end %>
            <div>
              <p><%= review.user.full_name %></p>
              <p><%= review.created_at.strftime("%B %d, %Y") %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>