
<div class="container mt-4">
  <div class="banner-show-route">
    <h1><%= @route.title %></h1>
    <h4><%= @route.description %></h4>
    <div class="border-bottom"></div>
    <% if @route.videos_url.present? %>
      <div class="mt-4">
        <h5>Route video:</h5>
        <%= link_to @route.videos_url, target: "_blank" do %>
          <div class="d-flex align-items-center">
            <i class="fas fa-play-circle me-2"></i>Play Video
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @route.ride_type.present? %>
      <div class="my-4">
        <h5>Tags:</h5>
        <div class="d-flex">
          <div class="badge bg-primary me-2"><%= @route.ride_type %></div>
        </div>
      </div>
    <% end %>
    <%= button_to 'Save to My Trips', save_route_path(@route),
    method: :post, class: 'btn btn-primary' %>
  </div>
