<div class="container mt-4">
  <div class="banner-show-route">
    <h1><%= @route.title %></h1>
    <h4><%= @route.description %></h4>
    <div class="border-bottom"></div>
    <% if @route.videos_url.present? %>
      <div class="mt-4">
        <h5>Route video:</h5>
        <%= link_to @route.videos_url, target: "_blank" do %>
          <div class="d-flex align-items-center">
            <i class="fas fa-play-circle me-2"></i>Play Video
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @route.ride_type.present? %>
      <div class="my-4">
        <h5>Tags:</h5>
        <div class="d-flex">
          <% if @route.ride_type.is_a?(Array) %>
            <% @route.ride_type.each do |type| %>
              <div class="badge bg-primary me-2"><%= type %></div>
            <% end %>
          <% else %>
            <div class="badge bg-primary me-2"><%= @route.ride_type %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @reviews.present? %>
      <div class="reviews-show-route">
        <h3>Reviews:</h3>
        <% @reviews.each do |review| %>
          <div class="mt-4">
            <div class="d-flex">
              <div class="me-2">
                <h5><%= review.title %></h5>
              </div>
              <% review.rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            </div>
            <p><%= review.description %></p>
            <div>
              <p class="my-4">Bike Used: <strong><%= review.used_bike %></strong></p>
            </div>
            <div class="d-flex align-items-center">
              <% if review.user.avatar.present? %>
                <div class="me-2">
                  <%= image_tag review.user.avatar, class: "avatar" %>
                </div>
              <% else %>
                <div class="me-2">
                  <%= image_tag 'user-photo.png', class: "avatar" %>
                </div>
              <% end %>
              <div>
                <%= link_to user_path(review.user) do %>
                  <p class="mb-0"><%= review.user.first_name %></p>
                <% end %>
                <p class="mb-0"><%= review.created_at.strftime("%B %d, %Y") %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="my-4">
      <h3>Write a review:</h3>
      <%= render "reviews/form" %>
    </div>
  </div>