<div class="reviews-show-route">
  <% if @reviews.present? %>
    <h3>Reviews:</h3>
    <% @reviews.limit(3).each do |review| %>
      <div class="border p-4 mt-4">
        <div class="d-flex justify-content-between">
          <div>
            <% review.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <div>
              <h5><%= review.title %></h5>
            </div>
          </div>
          <div>
            <%= link_to 'Read', route_review_path(review), class: "btn-yellow-sm" %>
          </div>
        </div>
        <div class="d-flex my-2 bike-p">
          <div class="me-2">
            <% if review.bike.present? %>
              <p class="mb-0">Bike Used:</p>
              <p class="d-flex bike-details">
                <strong><%= review.bike.name %> <%= review.bike.year %>, <%= review.bike.brand %></strong>
              </p>
            <% end %>
          </div>
          <% if review.road_condition.present? %>
            <p class="ms-4">Road Condition: <strong><%= review.road_condition %></strong></p>
          <% end %>
        </div>
        <div class="mb-4">
          <% if review.photos.present? %>
            <p>Photos:</p>
            <div class="d-flex flex-row flex-nowrap overflow-auto">
              <% review.photos.each do |photo| %>
                <%= image_tag(photo, class: "review-photo-sm me-2") %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to user_path(review.user) do %>
            <div class="d-flex align-items-center">
              <% if review.user.avatar.present? %>
                <div class="me-2">
                  <%= image_tag review.user.avatar, class: "avatar" %>
                </div>
              <% else %>
                <div class="me-2">
                  <%= image_tag "user-photo.png", class: "avatar" %>
                </div>
              <% end %>
              <div>
                <p class="mb-0"><%= review.user.first_name %></p>
                <p class="mb-0"><%= review.date.strftime("%B %d, %Y") %></p>
              </div>
            </div>
          <% end %>
          <div>
            <% if current_user == review.user %>
              <%= link_to edit_route_review_path(route_id: @route, id: review.id) do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div data-controller="new-review" class="mb-0 pb-0">
    <div class="mt-4 d-flex justify-content-center" data-action="click->new-review#newReview">
      <button class="btn-light-gray " data-new-review-target="writeReviewBtn">Write a Route Review</button>
    </div>
    <div class="my-4 toggle-form" data-new-review-target="reviewForm">
      <h3>Write a review:</h3>
      <%= simple_form_for [@route, @review] do |f| %>
        <%= render "reviews/form", f: f %>
        <div class="d-flex justify-content-center">
          <%= f.button :submit, "Submit Review", class: "btn-yellow" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
