<div class="bg-red review-show-details">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="bg-white">
    <div class="container">
      <h4 class="text-center">Review for route <%= link_to route_path(@review.route) do %><strong><%= @review.route.title %></strong><% end %></h4>
      <div class="review-card p-4 mt-4">
        <% @review.rating.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
        <div>
          <h5><%= @review.title %></h5>
        </div>
        <p><%= @review.description %></p>
        <div class="d-flex my-2 bike-p">
          <div class="me-2">
            <% if @review.bike.present? %>
              <p class="mb-0">Bike Used:</p>
              <p class="d-flex bike-details">
                <strong><%= @review.bike.name %> <%= @review.bike.year %>, <%= @review.bike.brand %></strong>
              </p>
            <% end %>
          </div>
          <% if @review.road_condition.present? %>
            <p class="ms-4">Road Condition: <strong><%= @review.road_condition %></strong></p>
          <% end %>
        </div>
        <div class="mb-4">
          <% if @review.photos.present? %>
            <p>Photos:</p>
            <div class="d-flex flex-row flex-nowrap overflow-auto">
              <% @review.photos.each do |photo| %>
                <%= image_tag(photo, class: "review-photo me-2") %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <% if @review.user.avatar.present? %>
              <div class="me-2">
                <%= image_tag @review.user.avatar, class: "avatar" %>
              </div>
            <% else %>
              <div class="me-2">
                <%= image_tag "user-photo.png", class: "avatar" %>
              </div>
            <% end %>
            <div>
              <%= link_to user_path(@review.user) do %>
                <p class="mb-0"><%= @review.user.first_name %></p>
              <% end %>
              <p class="mb-0"><%= @review.created_at.strftime("%B %d, %Y") %></p>
            </div>
          </div>
          <div>
            <% if current_user == @review.user %>
              <%= link_to edit_route_review_path(route_id: @route, id: review.id) do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>