<div class="bg-red review-show-details">
  <div class="container">
    <%= render 'shared/logo_btn_top_white', user: (@user || current_user) %>
    <%= render 'shared/link_user_profile', user: (@user || current_user) %>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-11 col-md-8">
          <h4 class="text-center">Review for route <%= link_to route_path(@review.route) do %><strong><%= @review.route.title %></strong><% end %></h4>
          <div class="review-card p-4 mt-4">
            <% @review.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <div>
              <h5><%= @review.title %></h5>
            </div>
            <p><%= @review.description %></p>
            <% if @review.bike.present? || @review.road_condition.present? %>
              <div class="d-flex justify-content-around align-items-center road-bike-condition-details mb-4">
                <div class="d-flex align-items-center">
                  <i class="fa-solid fa-motorcycle me-2"></i>
                  <p>
                    <%= @review.bike.name %> <%= @review.bike.year %>, <%= @review.bike.brand %>
                  </p>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fa-solid fa-road me-2"></i>
                  <p><%= @review.road_condition %></p>
                </div>
              </div>
            <% end %>
            <div class="mb-4">
              <% if @review.photos.present? %>
                <p>Photos:</p>
                <div class="d-flex flex-row flex-nowrap overflow-auto">
                  <% @review.photos.each do |photo| %>
                    <div class="col-8 col-md-4">
                      <%= image_tag(photo, class: "review-photo me-2") %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to user_path(@review.user) do %>
                <div class="d-flex align-items-center">
                  <% if @review.user.avatar.present? %>
                    <div class="me-2">
                      <%= image_tag @review.user.avatar, class: "avatar" %>
                    </div>
                  <% else %>
                    <div class="me-2">
                      <%= image_tag "user-photo.png", class: "avatar" %>
                    </div>
                  <% end %>
                  <div>
                    <p class="mb-0"><%= @review.user.username %></p>
                    <p class="mb-0"><%= @review.date.strftime("%B %d, %Y") %></p>
                  </div>
                </div>
              <% end %>
              <div>
                <% if current_user == @review.user %>
                  <%= link_to edit_route_review_path(route_id: @route, id: @review.id) do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
