<!DOCTYPE html>
<html>
  <head>
    <title>Gremlin Bell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css"
     rel="stylesheet"/>
  </head>
  <body>
    <%= render "shared/flashes" %>
    <div class="content-body">
      <%= yield %>
      <div class="float-button">
        <%= link_to chatrooms_path, class: "btn-float" do %>
          <i class="fa-solid fa-comment-dots"></i>
        <% end %>
      </div>
    </div>
    <%= render "shared/navbar_footer" %>
  </body>
</html>
